window notebook{
border:1px solid @border_color;}
window notebook>header{
background:@base_color;}
window notebook>header tab{
min-height:24px;
font-weight:bold;}
window notebook>header.top tab:checked,
window notebook>header.bottom tab:checked{
background-color:@selected_base_color;}
window notebook>header.top{
border-bottom:1px solid @border_color;}
window notebook>header.bottom{
border-top:1px solid @border_color;}
window notebook>header.left{
border-right:1px solid @border_color;}
window notebook>header.right{
border-left:1px solid @border_color;}
window notebook>header.top tab:dir(ltr),
window notebook>header.bottom tab:dir(ltr){
border-right:1px solid @border_color;}
window notebook>header.top tab:dir(rtl),
window notebook>header.bottom tab:dir(rtl){
border-right:1px solid @border_color;}
window notebook>header.top tab:last-child:dir(ltr),
window notebook>header.bottom tab:last-child:dir(ltr){
margin-right:-1px;}
window notebook>header.top tab:last-child:dir(rtl),
window notebook>header.bottom tab:last-child:dir(rtl){
margin-left:-1px;}
window notebook>header.left tab:checked,
window notebook>header.right tab:checked{
border-bottom:1px solid @selected_base_color;}
window notebook>header.left tab,
window notebook>header.right tab{
border-bottom:1px solid transparent;}
window notebook>header.left tab:last-child:dir(ltr),
window notebook>header.right tab:last-child:dir(ltr){
margin-bottom:-1px;}

dialog notebook {
border-color:transparent;}
dialog notebook>header.top,
dialog notebook>header.bottom{
background:inherit;
border-bottom-color:transparent;}
dialog notebook.frame,
dialog notebook.frame:backdrop{
border-color:transparent;
background:inherit;}
dialog notebook>header.top,
dialog notebook>header.bottom{
margin:3px 2px;}
dialog notebook>header.left,
dialog notebook>header.right{
margin:2px 3px;}
dialog notebook>header>tabs>tab:not(:checked),
dialog notebook>header>tabs>tab:not(:checked):backdrop{
font-weight:bold;
background-color:shade(@bg_color,0.76);
border:1px solid @border_color;}
dialog notebook>header>tabs>tab:checked,
dialog notebook>header>tabs>tab:backdrop:checked{
font-weight:bold;
background-color:@selected_bg_color;
border:1px solid rgba(0,0,0,0.8);}
dialog notebook>header.top>tabs>tab,
dialog notebook>header.bottom>tabs>tab{
padding:1px 10px;}
dialog notebook>header.left>tabs>tab,
dialog notebook>header.right>tabs>tab{
padding:10px 1px;}
dialog notebook>header.top>tabs>tab,
dialog notebook>header.bottom>tabs>tab{
border-width:1px;}
dialog notebook>header.top>tabs>tab:not(:first-child),
dialog notebook>header.bottom>tabs>tab:not(:first-child){
margin-left:-1px;}
dialog notebook>header.left>tabs>tab:not(:first-child),
dialog notebook>header.right>tabs>tab:not(:first-child){
margin-top:-1px;}
