.mate-panel-menu-bar,
.mate-panel-menu-bar menubar,
#PanelApplet-window-menu-applet-button,
#PanelPlug #clock-applet-button {
border-radius:0px;
margin:0px;
padding:0px;
border:none;
box-shadow:none;}

PanelToplevel.background > grid > button,
.mate-panel-menu-bar #tasklist-button,
#PanelApplet button,
#PanelApplet > button,
#PanelPlug button{
border:none;
margin:0px;
padding:0px;
border-radius:0px;
box-shadow:none;}

.mate-panel-applet-slider > frame {
padding:0px;
border:1px solid rgba(0,0,0,0.3);
border-radius:2px;
background:shade(@bg_color,1.05);}

.mate-panel-menu-bar menubar>menuitem>label,
.mate-panel-menu-bar menubar:backdrop>menuitem>label,
#PanelPlug label,
#PanelApplet > button > label{
border-radius:0px;
padding:1px;
color:@fg_color;}

.mate-panel-menu-bar menubar>menuitem>label,
.mate-panel-menu-bar menubar:backdrop>menuitem>label{
font-weight:bold;}

.mate-panel-menu-bar menubar>menuitem:hover>label,
.mate-panel-menu-bar menubar:backdrop>menuitem:hover>label,
#clock-applet-button:checked label{
color:@selected_bg_color;}
.mate-panel-menu-bar #showdesktop-button{
background:transparent;}
.mate-panel-menu-bar wnck-tasklist label{
font-weight:bold;}

.mate-panel-menu-bar #tasklist-button:hover {
background-color:alpha(@selected_bg_color,0.7);}
.mate-panel-menu-bar #tasklist-button:active,
.mate-panel-menu-bar #tasklist-button:checked {
background-color:@selected_bg_color;}
.mate-panel-menu-bar #tasklist-button:disabled label{
color:@inactive_fg_color;}

#PanelPlug menuitem label{
color:@fg_color;}

#clock-applet-button label,
#tasklist-button label,
#tasklist-button,
#PanelPlug #tasklist-button{
color:@selected_fg_color;}

#PanelPlug #clock-applet-button:checked,
#PanelPlug #clock-applet-button:checked label {
color:@selected_fg_color;
background:@selected_bg_color;}

#PanelApplet{
padding:0px 2px;}

PanelToplevel.background,
.mate-panel-menu-bar grid,
#PanelPlug{
background:@bg_color;}

#mate-menu>widget>box>widget>*{
margin:5px;}

#mate-menu widget widget widget notebook {
margin:5px;}

#mate-menu widget widget widget notebook>stack,
#mate-menu widget widget widget notebook>stack>box>viewport>grid{
background-color:rgba(255,255,255,0.5);}
#mate-menu widget widget widget notebook>stack scrolledwindow>viewport {
background:@base_color;}

.mate-terminal notebook box box{
border-top:1px solid @border_color;}
.mate-terminal notebook scrollbar{
margin:-1px;}

/*weird other mate apps*/

#MyControlCenter > frame{
margin:3px;}

.caja-pathbar button {
padding:0px;}
.caja-pathbar button,
.caja-pathbar button.toggle.text-button,
.caja-pathbar button.toggle.text-button.image-button {
border-radius:0px;
border: none;
border-bottom:2px solid transparent;
background:none;
box-shadow:none;}
.caja-pathbar button:hover,
.caja-pathbar button.toggle.text-button:hover,
.caja-pathbar button.toggle.text-button.image-button:hover {
background:alpha(@hilight,0.2);
border:none;
border-bottom:2px solid transparent;}
.caja-pathbar button:checked,
.caja-pathbar button:active,
.caja-pathbar button.toggle.text-button:active,
.caja-pathbar button.toggle.text-button.image-button:active,
.caja-pathbar button.toggle.text-button:checked,
.caja-pathbar button.toggle.text-button.image-button:checked {
border:none;
border-bottom:2px solid @selected_base_color;}

.caja-navigation-window grid paned box paned box .caja-notebook,
.caja-navigation-window grid paned box paned box .caja-notebook:backdrop {
margin:0px 3px 3px 0px;}

.caja-side-pane .frame,
.caja-side-pane notebook stack,
.caja-side-pane notebook treeview.view,
.caja-side-pane notebook widget box,
.caja-side-pane notebook box scrolledwindow,
.caja-side-pane notebook textview text,
.caja-side-pane .frame:backdrop,
.caja-side-pane notebook stack:backdrop,
.caja-side-pane notebook treeview.view:backdrop,
.caja-side-pane notebook widget box:backdrop,
.caja-side-pane notebook box scrolledwindow:backdrop,
.caja-side-pane notebook textview text:backdrop{
background:@bg_color;
border-color:transparent;}

.caja-navigation-window grid paned box paned box notebook box box scrolledwindow widget widget.entry,
.caja-navigation-window grid paned box paned box notebook box box scrolledwindow widget widget.entry:backdrop {
background:shade (@base_color,0.9);
color:@text_color;
border:1px solid @border_color;}
.caja-navigation-window grid paned box paned box notebook box box scrolledwindow widget widget.entry:selected,
.caja-navigation-window grid paned box paned box notebook box box scrolledwindow widget widget.entry:backdrop:selected {
background:@selected_base_color;
color:@selected_text_color;}

.caja-navigation-window>grid>paned>box>paned>box>notebook.caja-notebook>stack:backdrop,
.caja-navigation-window>grid>paned>box>paned>box>notebook.caja-notebook>stack{
background:@base_color;}
