@namespace url(http://www.w3.org/1999/xhtml);

/*unthemes the most annoying html input forms*/

html input,
html textarea,
html button,
html input[type="file"],
html input[type="reset"],
html input[type="button"],
html input[type="submit"],
html input[type="radio"],
html input[type="checkbox"] {
-moz-appearance:none;
border:1px solid;
border-color:inherit;
background-color: inherit;
color:inherit;}

html select {
-moz-appearance: none;
border:1px solid;
border-color:inherit;
background-color: inherit;
color:inherit;
margin: 0px 3px;
background-position: right center;
background-repeat:no-repeat;
background-size: 1em;
background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 16 16"><path style="color:%23000000" stroke-width=".5" fill="%23fff" d="m11.495 6.8187a0.49887 0.49746 0 0 1 -0.14029 0.29534l-2.993 2.984a0.49887 0.49746 0 0 1 -0.71706 0l-2.9929-2.984a0.49887 0.49746 0 0 1 0 -0.71503l0.49882-0.49741a0.49887 0.49746 0 0 1 0.71706 0l2.1356 2.1295 2.1356-2.1295a0.49887 0.49746 0 0 1 0.71706 0l0.49882 0.49741a0.49887 0.49746 0 0 1 0.14029 0.41969z"/><path style="color:%23000000" d="m11.495 6.8187a0.49887 0.49746 0 0 1 -0.14029 0.29534l-2.993 2.984a0.49887 0.49746 0 0 1 -0.71706 0l-2.9929-2.984a0.49887 0.49746 0 0 1 0 -0.71503l0.49882-0.49741a0.49887 0.49746 0 0 1 0.71706 0l2.1356 2.1295 2.1356-2.1295a0.49887 0.49746 0 0 1 0.71706 0l0.49882 0.49741a0.49887 0.49746 0 0 1 0.14029 0.41969z" stroke="%23fff" stroke-width=".5"/></svg>');}
