QToolBar {
spacing: 0px;}

QToolBar::separator {
width:1px;}

QToolBar QToolButton:hover:!pressed, 
QToolBar QToolButton::menu-button:hover:!pressed {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 1px;
}
